@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titilluim Web";
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(../images/to-do-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: baseline;
  box-shadow: rgba(0, 0, 0, 0.5) 0rem 1.2rem 3.2rem -0.7rem;
  .todo {
    width: 40%;
    height: auto;
    background: transparentize($color: $dark-grey-blue, $amount: 0.8);
    backdrop-filter: blur(0.6rem);
    a {
      color: $alabaster;
    }
    input {
      box-shadow: rgba(0, 0, 0, 0.1) 0rem 1.2rem 3.2rem -0.7rem;
      height: 6vh;
      .form-control {
        &:focus {
          border-color: none !important;
        }
      }
      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

// Li item
.li-item {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $dark-grey-blue;
  background-color: $alabaster;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 1.2rem 3.2rem -0.7rem;
}

//Delete todo item
.delete-btn {
  position: relative;
  font-size: 1.2rem;
  outline: none;
  padding: 0.2rem 0.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $dark-red;
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: .1rem solid;
    transition: all 0.6s ease;
    border-radius: .2rem;
  }
  &::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: $dark-grey-blue;
    border-right-color: $dawn-pinkl;
  }
  &::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: $dark-grey-blue;
    border-left-color: $dawn-pinkl;
  }
  &:hover::after,
  &:hover::before {
    width: 100%;
    height: 100%;
  }
}

//count items 
.todo-count {
  color: $dark-grey-blue;
  display: none;
}

/**/
#toggle-items {
  color: $dark-grey-blue;
  height: 6vh;
  &:focus {
    box-shadow: none !important;
  }
}

.toggle-all {
  display: none;
}

//error
#error-text {
  color: $dark-red;
  display: none;
}

.input-error {
  border: 0.1rem solid $dark-red;
}

//Responsive
@media screen and (max-width: 900px) {
  main {
    .todo {
      width: 90%;
    }
  }
}
